body{
    background-color: #FFD089;
}
#logo{
    width: 250px;
    height: 100px;
}
.corpo{
    margin: 10px;
	border: 5px solid #FDE4BE;
	text-align: center;
	padding: 20px;
    background-color: #FDE4BE;
}
.links{
    text-align: right;    
}
.rodape{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}